<!-- <link rel="stylesheet" type="text/css" href="/css/dashboard.css"> -->
<!-- <div class="card line_height">
    <a class="underline" href="/add_product"><div class="card-header bg-success text-white">Add Product</div></a>
    <a class="underline" href="/view_product"><div class="card-body bg-warning text-white">View Product</div></a>
    <a class="underline" href="/registered_users"><div class="card-footer bg-info text-white">View Registered Users</div></a>
  </div> -->

<div class="">
  <ul class="line_height flexx">
    <li class=""><a href="/add_product" type="button" class="btn btn-outline-success btn-sm underline">Add Product</a></li>
    <li class=""><a href="/add_category" type="button" class="btn-sm  btn btn-outline-success underline">Add Category</a></li>
    <li class=""><a href="/view_cat" type="button" class="btn-sm btn btn-outline-success underline">View Category</a></li>
    <li><a href="/view_product" type="button" class="btn-sm btn btn-outline-success underline">View Product</a></li>
    <li><a class="btn-sm underline btn btn-outline-success" type="button" href="/registered_users">View Users</a></li>
  </ul>
</div>
