<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about_us</title>
    <link rel="stylesheet" href="/css/about_us.css" type="text/css">
</head>
<body class="font ">
    <%- include('./common/header.ejs') %>
    <br><br><br>

    <div class="container-fluid back_img_07" style="background-color:beige; line-height: 2;">
        <p class="display-4 text-center">About Us</p>
        <p class="line_height font_size">
            As distributors, it was our fantasy to open a bookshop that comprehended workmanship and showed books enough to commit a whole space to the class, to make an environment as excellent, tricking, and smooth as the books it would house, and to start development with regards to the energizing a wide margin the nation was making in the plan. After eight years, we believe we have succeeded.<br>

            In these attempting times when books are vying for your consideration, cash, and time, and when bookshops are surrendering to the extreme weight set on them, ‘Company Name’ has figured out how to develop to 8 looks around the nation because of you, dear readers.<br><br>

            We have manufactured vital associations to remove books from customary spaces, tied up with a notorious way of life stores, for example, Good Earth and Amethyst, and even extended the extension where important, and opened ‘The USA’s first blessing and gift shops in Jaipur.<br><br>

            In any case, at the center of ‘Organization Name’ is a profound love for books, particularly craftsmanship and outlined books that are storehouses of legacy, style, structure, workmanship, cooking, way of life, photography thus substantially more.<br>

            If you’re in need of some new bookstore slogans, then you’ve stumbled upon the right place. Check out the “title” that you can use on your Catchy Bookstore Slogans and Taglines.<br>

            Furthermore, that is why we have ventured to the far corners of the planet and tapped our assets to convey to you the best distributors of this kind – Phaidon, Thames, Hudson, or Steidl.<br><br>

            As we came and saw your eagerness for the books we were loading, we were urged to extend our vision, including eccentric extras, stationery, and even furnishings (have you seen the Pantone seats?).<br><br>

            Today ‘Organization Name’ is synonymous with a specific tasteful and has solidly settled itself as the home of workmanship and shown books in the nation.<br><br>

            We presently add a virtual area to the bookstore – an online bookshop where you can purchase books. Many thanks to you for being a piece of this adventure.
        </p>
    </div>
    <%- include('./common/footer.ejs') %>
    
</body>
</html>