<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_arrivals</title>
    <link rel="stylesheet" type="text/css" href="/css/new_arrivals.css">
</head>
<body class="font">
    <%- include('./common/header.ejs') %>
    <br><br><br>

    <!-- ##################### footer section #################### -->
    <%- include('./common/footer.ejs') %>
    <!-- ################# footer section ends ##################### -->
</body>
</html>